<!DOCTYPE html>
<html>
  <head>
    <title>Gitview</title>
    <style>
      body { background-color: #e4e4e4; }
    </style>
  </head>
  <body>
    <form action="/get_repo" method="POST">
      <h2>Please insert link to git repo <b>or</b> path to local repo:</h2>
      <input type="text" value="<%= @last_repo_url %>" length="50" size="40" onchange="jQuery('#repo_url').val(btoa(this.value))"/>
      <input type="hidden" name="repo_url" id="repo_url"/>
      <input type="submit" value="Submit"/>
    </form>
    <script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
  </body>
</html>
