<!DOCTYPE html>
<html>
  <head>
    <title>Gitview</title>
    <style>
      body { background-color: #e4e4e4; }
    </style>
    <link href="/highlight/styles/github.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="slider"></div>
    <div class="commit_info" style="width:700px;float:left">Committed date: <%= @date %>. By: <%= @committer %></div>
    <div class="nav"></div>
    <div style="clear:both"></div>
    <div class="code_container" style="width:700px;">
      <ul class="tree_container">
        <%= erb :_tree %>
      </ul>
    </div>
    <script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/highlight/highlight.pack.js"></script>
    <script type="text/javascript" src="/js/application.js"></script>
  </body>
</html>
